.body{
    text-align: center;
}
b,div{
    font-family: 'Crimson Text', serif;
    font-family: 'Lobster', sans-serif;
    font-family: 'Poltawski Nowy', serif;
    font-size: 20px;
}
.images{
    margin-top: 20px;
}
.all{
    width: 800px;
    margin: auto;
}
.box{
    align-items: center;
    justify-content: center;
    display: flex;
}
