.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #005587;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-top: 50px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}
.logim{
  text-align: center;
}

.form-input {
  margin-bottom: 15px;
}

.form-btn {
  margin-top: 10px;
}
.react-phone-number-input__icon {
  display: none !important;
}
.optimize {
  height: 600px;
  background: url('https://img.freepik.com/free-photo/black-white-cow-grazing-pasture-during-daytime_181624-27142.jpg?w=900&t=st=1701269150~exp=1701269750~hmac=51be969056322914f75730ae3a22e6ac3ff9cc9f6e37caacc7432fcafd305000');
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;

}

